.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form {
  max-width: 24rem;
  @media (max-width: 1335px) {
      max-width: 20rem;
  }
}
.input {
  margin-top: 12px;
}
