.button {
  width: 10rem;
  margin-top: 0;
  height: 54px;
  border-radius: 32px;
  background-color: #ff8a1e;
  color: #fff;
  transition: all 0.2s linear;
  cursor: pointer;
  &:hover {
    background-color: #ff7a00;
  }
  @media (max-width: 1335px) {
    width: 8rem;
    height: 38px;
  }
}
