.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-rows: 3fr 1fr;
  max-width: 250px;
  width: 100%;
  height: 150px;
  border-radius: 30px;
  border: 1px solid #0000002b;
  box-shadow: inset 0 0 10px #0000000d;
  background-color: #fff;
  box-sizing: border-box;
}

.title {
  font-size: 18px;
  margin: auto;
}

.button {
  width: 100%;
  height: 54px;
  border-radius: 0px 0px 30px 30px;
  background-color: #ff8a1e;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  transition: all .2s linear;
  cursor: pointer;
  &:hover {
    background-color: #ff7a00;
  }
}
