.aside {
  display: flex;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  padding: 100px 0;
  background-color: #F8F8F8;
}

.nav {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}